apiVersion: v1
kind: Secret
metadata:
  name: food-delivery-secret
  namespace: food-delivery
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "<your-mysql-root-password>"
  MYSQL_DATABASE: "<your-database-name>"
  MYSQL_USER: "<your-mysql-user>"
  MYSQL_PASSWORD: "<your-mysql-password>"
  JWT_SECRET: "<your-jwt-secret>"
